body {
  overflow-x: hidden;
}

.container {
  max-width: 1440px;
  margin: auto auto;
  display: grid;
  grid-template-areas: "a b";
}

form {
  grid-area: a;
  width: 412px;
}

.form {
  padding: 168px 22px 0 90px;
}

header {
  padding-bottom: 43px;
  margin-bottom: 40px;
  border-bottom: 1px dashed #d1d1d1;
}
form h1 {
  font-size: 54px;
  line-height: 68px;
  color: #42505c;
  margin-bottom: 24px;
}

form p {
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.25px;
  color: #404040;
  opacity: 0.99;
}

.right {
  grid-area: b;
}

.container-form {
  padding-bottom: 46px;
  border-bottom: 1px dashed #d1d1d1;
  margin-bottom: 47px;
}

.label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 9px;
}

.label img {
  width: 16px;
  height: 16px;
}

.input-group {
  margin-bottom: 15px;
}
.input-box {
  height: 48px;
  border: 1px solid #d1d1d1;
  display: flex;
  align-items: center;
  gap: 14px;
}

.input-group .input-box:first-child {
  border-bottom: none;
}
.input-box input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
}
.input-box img {
  width: 16px;
  height: 16px;
  margin-left: 14px;
}

.forgot a {
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.25px;
  color: #4743e0;
  text-decoration: none;
}

.btn {
  display: flex;
  justify-content: space-between;
  margin-bottom: 238px;
}

.btn button {
  width: 102px;
  height: 48px;
  background: #4743e0;
  border: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.25px;
  color: #ffffff;
  cursor: pointer;
}
.check {
  display: flex;
  align-items: center;
  gap: 15px;
}

.check input {
  width: 24px;
  height: 24px;
  accent-color: #4743e0;
}

.check label {
  font-size: 14px;
  line-height: 28px;

  letter-spacing: 0.25px;

  color: #333333;
}

footer span {
  display: block;
  text-align: center;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.25px;
  color: #333333;
  opacity: 0.3;
}
footer a {
  display: block;
  text-align: center;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.25px;

  color: #4743e0;
}
